:root {
  --main-color: #bb9c66;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
:after,
:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:active,
:focus {
  outline: 0;
}
a:active,
a:focus {
  outline: 0;
}
aside,
footer,
header,
nav,
section {
  display: block;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: PFDinTextCondProRegular;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
button,
input,
textarea {
  font-family: PFDinTextCondProRegular;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  overflow-x: hidden;
}
.container {
  max-width: 950px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 962px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 15px 0 15px 25px;
  border: 3px solid var(--main-color);
  background-color: #fff;
  color: #4f4f4f;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
}
textarea.input {
  resize: none;
  padding: 0 0;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}
.lock {
  overflow: hidden;
}
